@{
    ViewData["Title"] = "Bienvenido a MvcMovie";
}

<div class="text-center">
    <h1 class="display-4">🎬 Bienvenido a MvcMovie 🎥</h1>
    <p class="lead">Explora el mundo del cine y descubre tus películas favoritas con nosotros.</p>

    <img src="~/images/cinema-banner.jpg" alt="Cine" width="500" class="img-fluid rounded shadow-lg" />

    <p class="mt-4">
        ¿Listo para una nueva aventura?
        <a href="/Movies" class="btn btn-primary btn-lg">Ver Películas</a>
    </p>
</div>